@model string

@switch (Model)
{
    case "Win":
        <span class="label label-success">@Model</span>
        break;
    case "Loss":
        <span class="label label-danger">@Model</span>
        break;
    case "Draw":
        <span class="label label-primary">@Model</span>
        break;
    case "Conceded":
        <span class="label label-danger">@Model</span>
        break;
    case "Pending":
        <span class="label label-info">@Model</span>
        break;
    case "No Entry":
        <span class="label label-default">@Model</span>
        break;
    case "Invalid":
        <span class="label label-warning">@Model</span>
        break;
}