@model ProjectArcBlade.Models.TeamViewModels.TeamDashboardViewModel
<div class="well-sm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Completed Matches</h2>
        </div>
        <div class="panel-body">
            @if (Model.CompletedMatches.Count() != 0)
            {
                <table class="table table-hover table-condensed table-responsive lead">
                    <thead>
                        <tr>
                            <th>Result</th>
                            <th>Opponent</th>
                            <th>Venue</th>
                            <th>Match Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CompletedMatches)
                        {
                            <tr>
                                <td>@Html.Partial("DisplayResultTypeLabelPartial", item.TeamResult)</td>
                                <td>
                                    <a title="Update" asp-action="MatchProgress" asp-controller="Match" asp-route-matchId="@item.MatchId" asp-route-teamId="@Model.TeamId">
                                        @item.Opponent
                                    </a>
                                </td>
                                <td>
                                    @item.VenueName
                                    @if (item.IsHomeTeam)
                                    {
                                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                    }
                                </td>
                                <td>@item.StartDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div>There are no completed matches</div>
            }
        </div>
    </div>
</div>
