@model ProjectArcBlade.Models.HomeMatchTeam
@{
    ViewData["Title"] = "Confirm Home Match Team";
}

<form asp-action="ActivateHomeMatchTeam">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a asp-action="Dashboard" asp-route-id="@Model.Team.Id">Dashboard</a></li>
                <li><a asp-action="ManageMatchTeam" asp-route-homeMatchTeamId="@Model.Id">Manage Match Team</a></li>
                <li>Confirm Match Team</li>
            </ol>
        </div>
    </div>
    <h1><strong>Confirm Match Team for @Model.Team.FullName</strong></h1>
    <h2>vs @Model.Match.AwayMatchTeam.Team.FullName</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.HomeMatchTeamCaptain.ClubPlayer != null)
            {
                <table class="table table-bordered">
                    <tr>
                        <td class="col-md-2 bg-success">
                            <h4 class="form-control-static text-center"><strong>Team Captain</strong></h4>
                        </td>
                        <td class="col-md-10 text-center">
                            <h4 class="form-control-static"><strong>@Model.HomeMatchTeamCaptain.ClubPlayer.PlayerDetail.FullName</strong></h4>
                        </td>
                    </tr>
                </table>                
            }
            @foreach (var matchTeamGroup in Model.HomeMatchTeamGroups)
            {
                <table class="table table-bordered">
                    <tr>
                        <td class="col-md-2 bg-success">
                            <h4 class="form-control-static text-center"><strong>@matchTeamGroup.Group.Name</strong></h4>
                        </td>
                        <td class="col-md-10">
                            <div class="form-control-static">
                                @foreach (var matchTeamPlayer in matchTeamGroup.HomeMatchTeamGroupPlayers)
                                {
                                    <div class="col-md-6 text-center">
                                        <h4 class="form-control-static"><strong>@matchTeamPlayer.ClubPlayer.PlayerDetail.FullName</strong></h4>
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>
        <div class="panel-footer text-center">
            <div class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <strong>Warning:</strong>
                Are you sure you want to continue? You will not be able to modify this team after it has been submitted!
            </div>
            <input type="submit" asp-action="BackToManageMatchTeam" asp-route-homeMatchTeamId="@Model.Id" value="Back" class=" text-right btn btn-lg btn-danger" />
            <input type="submit" asp-action="ActivateHomeMatchTeam" asp-route-homeMatchTeamId="@Model.Id" asp-route-teamId="@Model.Team.Id" value="Submit" class=" text-right btn btn-lg btn-success" />
        </div>
    </div>
</form>

