@model ProjectArcBlade.Models.TeamViewModels.TeamDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>Team Dashboard - @Model.TeamName</li>
        </ol>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Team Dashboard - @Model.TeamName</h1>
    </div>
    <div class="panel-body">        
        <div class="text-right">
            <form class="form-inline" asp-action="Dashboard">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                        </span>
                        <select asp-for="TeamId" asp-items="Model.AvailableTeams" onchange="submit()" class="form-control"></select>                        
                    </div>
                </div>
            </form>
        </div>

        <ul class="nav nav-tabs">
            <li class="@(Model.InProgressMatches.Count() > 0 ? "active" :"")"><a data-toggle="tab" href="#inprogress">In Progress Matches <span class="badge">@Model.InProgressMatches.Count()</span></a></li>
            <li class="@(Model.InProgressMatches.Count() == 0 ? "active" :"")"><a data-toggle="tab" href="#upcomingMatches">Upcoming Matches <span class="badge">@Model.UpcomingMatches.Count()</span></a></li>
            <li><a data-toggle="tab" href="#recentMatches">Completed Matches <span class="badge">@Model.CompletedMatches.Count()</span></a></li>
            <li><a data-toggle="tab" href="#overview">Overview</a></li>
            <li><a data-toggle="tab" href="#admin">Administration</a></li>
        </ul>

        <div class="tab-content">
            <div id="inprogress" class="tab-pane fade @(Model.InProgressMatches.Count() > 0 ? "in active" :"")">
                @Html.Partial("InProgressMatchesPartial", Model)
            </div>
            <div id="upcomingMatches" class="tab-pane fade @(Model.InProgressMatches.Count() == 0 ? "in active" :"")">
                @Html.Partial("UpcomingMatchesPartial", Model)
            </div>
            <div id="recentMatches" class="tab-pane fade">
                @Html.Partial("CompletedMatchesPartial", Model)
            </div>
            <div id="overview" class="tab-pane fade">
                @Html.Partial("OverviewPartial", Model.Overview)
            </div>
            <div id="admin" class="tab-pane fade">
                @Html.Partial("AdministrationPartial", Model)
            </div>
        </div>  
    </div>
</div>


