@model ProjectArcBlade.Models.TeamViewModels.ManageNominationsViewModel

@{
    ViewData["Title"] = "ManageNominations";
}
<form asp-action="ManageNominations">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a asp-action="Dashboard" asp-route-id="@Model.TeamId">Dashboard</a></li>
                <li>Manage Nominations</li>
            </ol>
        </div>
    </div>
    <h1><strong>Manage Nominations for @Model.Team.FullName</strong></h1>
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Partial("SuccessAlertPartial")
            @Html.Partial("DisplayWarningsPartial", Model.Warnings)
            @Html.Partial("DisplayErrorsPartial", Model.Errors)
            <table class="table">
                
                @{int i = 0;}
                @foreach (var item in Model.NominatedClubPlayerIds)
                {
                    <tr>
                        <td style="border-top:none !important;">
                            <div class="form-group">
                                <div class="col-md-2 text-right">
                                    <h4 class="form-control-static"><strong>Player @Model.NominatedPlayerRankIds[i]</strong></h4>
                                </div>
                                <div class="col-md-10 input-group-lg">
                                    <select asp-for="NominatedClubPlayerIds[i]" asp-items="Model.AvailablePlayers" class="form-control">
                                        <option value="0">Please nominate a Player</option>
                                    </select>
                                    <span asp-validation-for="DuplicateEntries" class="text-danger"></span>
                                </div>

                                <input type="hidden" asp-for="NomintatedPlayerIds[i]" />
                                <input type="hidden" asp-for="NominatedPlayerGroupIds[i]" />
                                <input type="hidden" asp-for="NominatedPlayerRankIds[i]" />
                            </div>
                        </td>
                    </tr>                            
                    i++;
                }
                              
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="col-md-2 text-right">
                                <h4 class="form-control-static"><strong>Team Captain</strong></h4>
                            </div>
                            <div class="col-md-10 input-group-lg">
                                <select asp-for="CaptainId" asp-items="Model.TeamPlayers" class="form-control">
                                    <option value="0">Please select a Player</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>                
            </table>
        </div>
        <div class="panel-footer text-center">
            <input type="submit" value="Save" class=" text-right btn btn-lg btn-primary" />
        </div>
    </div>
    
    
    <input type="hidden" asp-for="TeamId" />
</form>