@model ProjectArcBlade.Models.TeamViewModels.OrganiseMatchTeamViewModel

@{
    ViewData["Title"] = "Organise";
}

<h2>Organise</h2>

@if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error:</strong> @TempData["errorMessage"]
    </div>
}

<form asp-action="Details">
    <div class="form-horizontal">
        <h4>Team</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <p class="form-control-static">@Model.Name</p>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <p class="form-control-static">@Model.Status</p>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GroupId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="GroupId" asp-items="Model.Groups" class="form-control"></select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AvailableMatchPlayerIds" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AvailableMatchPlayerIds" asp-items="Model.AvailableMatchlayers" class="form-control"></select>
                <span asp-validation-for="AvailableMatchPlayerIds" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" asp-action="AssignToAwayMatch" value="Assign" class="btn btn-default" />
                @if (Model.AssignedMatchPlayers.Count == 0)
                {
                    <input type="submit" asp-action="AssignNominatedPlayersToAwayMatch" value="Assign Nominated Players" class="btn btn-default" />
                }

            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssignedMatchPlayerIds" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AssignedMatchPlayerIds" asp-items="Model.AssignedMatchPlayers" class="form-control"></select>
                <span asp-validation-for="AssignedMatchPlayerIds" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" asp-action="ReassignFromAwayMatch" value="Reassign" class="btn btn-default" />
            </div>
        </div>
        @if (Model.Warnings.Count > 0)
        {
            <div class="form-group">
                <label asp-for="Warnings" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <ul class="list-group">
                        @foreach (var item in Model.Warnings)
                        {
                            <li class="list-group-item list-group-item-warning">
                                <span class="badge">@item.Value</span>
                                @item.Name
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
    <input asp-for="AwayMatchTeamId" />
</form>
<div>
    <a asp-action="Dashboard" asp-route-id="@Model.TeamId">Back to Dashboard</a>
</div>