@model ProjectArcBlade.Models.TeamViewModels.TeamDashboardViewModel

<h2>Upcoming Matches</h2>
<hr />
<div class="well">
    @if (Model.UpcomingMatches.Count != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Vs</th>
                    <th>Venue</th>
                    <th>Match Date</th>                                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UpcomingMatches)
                {
                    var isHome = item.AwayMatchTeam.Team.Id == Model.Team.Id ? false : true;
                    <tr>
                        <td>
                            
                            <a title="Organise" asp-action="Organise" asp-route-homeMatchTeamId="@(isHome?item.HomeMatchTeam.Id.ToString():"")" asp-route-awayMatchTeamId="@(isHome?"":item.AwayMatchTeam.Id.ToString())"><span class="glyphicon glyphicon-edit"></span> Organise</a> 
                            | <a title="Preview" asp-action="Preview" asp-controller="Match" asp-route-id="@item.HomeMatchTeam.Match.Id"><span class="glyphicon glyphicon-play-circle"></span> Preview</a>
                        </td>
                        <td>@(isHome ? item.AwayMatchTeam.Team.LeagueClub.Club.Name + " - " + item.AwayMatchTeam.Team.Name : item.HomeMatchTeam.Team.LeagueClub.Club.Name + " - " + item.HomeMatchTeam.Team.Name) @if (isHome) { <span class="label label-primary">Home</span> } else { <span class="label label-default">Away</span> }</td>
                        <td>@item.Venue.Name</td>
                        <td>@Convert.ToDateTime(item.StartDate).ToString("dddd, MMM d, yyyy")</td>                        
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>There are no upcoming matches</div>
    }
</div>
