@model ProjectArcBlade.Models.MatchViewModels.CreateMatchViewModel

@{
    ViewData["Title"] = "Create Match - Step 4 of 4";
}

<h2>Create Match - Step 4 of 4</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Match Summary</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="SeasonName" class="col-md-2 control-label"></label>
            <div class="col-md-10">@Model.SeasonName</div>
        </div>
        <div class="form-group">
            <label asp-for="DivisionName" class="col-md-2 control-label"></label>
            <div class="col-md-10">@Model.DivisionName</div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryName" class="col-md-2 control-label"></label>
            <div class="col-md-10">@Model.CategoryName</div>
        </div>
        <div class="form-group">
            <label asp-for="HomeTeamName" class="col-md-2 control-label"></label>
            <div class="col-md-10">@Model.HomeTeamName</div>
        </div>
        <div class="form-group">
            <label asp-for="AwayTeamName" class="col-md-2 control-label"></label>
            <div class="col-md-10">@Model.AwayTeamName</div>
        </div>
        <div class="form-group">
            <label asp-for="ScheduledDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">@Model.ScheduledDate</div>
        </div>
        <div class="form-group">
            <label asp-for="StartTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">@Model.StartTime</div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="btnPrevious" value="Previous" class="btn btn-default" />
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
