@model ProjectArcBlade.Models.MatchViewModels.GameProgressViewModel
@{
    ViewData["Title"] = "Game Progress";
}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Team" asp-route-id="@Model.TeamId">Team Dashboard - @Model.TeamName</a></li>
            <li><a asp-action="MatchProgress" asp-controller="Match" asp-route-matchId="@Model.MatchId" asp-route-teamId="@Model.TeamId">Match Progress</a></li>
            <li>Game Progress</li>
        </ol>
    </div>
</div>

<form asp-action="GameProgress">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Game Progress</h1>
        </div>
        <div class="panel-body">
            @Html.Partial("SuccessAlertPartial")
            
            <table class="table table-condensed table-hover table-responsive text-center">
                <thead>
                    <tr class="lead">
                        <td></td>
                        <td class="active"><h3>Home Team<br /><small>@Model.Set.HomeTeam - @Model.Set.HomeGroup Pair</small></h3></td>
                        <td></td>
                        <td class="active"><h3>Away Team<br /><small>@Model.Set.AwayTeam - @Model.Set.AwayGroup Pair</small></h3></td>
                    </tr>
                    <tr class="lead">
                        <td ><strong>Game #</strong></td>
                        <td class="active"><strong>Score</strong></td>
                        <td></td>
                        <td class="active"><strong>Score</strong></td>
                    </tr>
                </thead>
                <tbody>
                    @for (var index = 0; index < Model.Set.Games.Count(); index++)
                    {
                        <tr class="lead">
                            <td class="col-md-1">
                                <div class="form-control-static">
                                    @Model.Set.Games[index].GameNumber 
                                </div>
                                
                                <input type="hidden" asp-for="@Model.Set.Games[index].Id" />
                            </td>
                            <td class="col-md-5 active">
                                <div class="row">
                                    <div class="col-md-4">&nbsp;</div>
                                    <div class="col-md-4">
                                        <div class="form-group-lg">
                                            @if (Model.Set.Games[index].HomeHomeScoreContested || Model.Set.Games[index].AwayHomeScoreContested)
                                            {
                                                <div class="has-warning has-feedback">
                                                    @if (Model.Set.IsHomeTeam)
                                                    {
                                                        <input class="form-control" asp-for="Set.Games[index].HomeHomeScore" />
                                                    }
                                                    else
                                                    {
                                                        <input class="form-control" asp-for="Set.Games[index].AwayHomeScore" />
                                                    }
                                                    <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            }
                                            else
                                            {
                                                @if (Model.Set.IsHomeTeam)
                                                {
                                                    <input class="form-control" asp-for="Set.Games[index].HomeHomeScore" />
                                                }
                                                else
                                                {
                                                    <input class="form-control" asp-for="Set.Games[index].AwayHomeScore" />
                                                }
                                            }
                                        </div>                                        
                                    </div>
                                    <div class="col-md-4">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        @if (Model.Set.IsHomeTeam)
                                        {
                                            if (Model.Set.Games[index].AwayHomeScore == null)
                                            {
                                                <h4><small><em>Opposition has not yet submitted a score for this game</em></small></h4>
                                            }
                                            else
                                            {
                                                <h4><small><em>Opposition submitted: @Model.Set.Games[index].AwayHomeScore</em></small></h4>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.Set.Games[index].HomeHomeScore == null)
                                            {
                                                <h4><small><em>Opposition has not yet submitted a score for this game</em></small></h4>
                                            }
                                            else
                                            {
                                                <h4><small><em>Opposition submitted: @Model.Set.Games[index].HomeHomeScore</em></small></h4>
                                            }
                                        }
                                    </div>
                                </div>
                                              
                            </td>
                            <td class="col-md-1">&nbsp;</td>
                            <td class="col-md-5 active">
                                <div class="row">
                                    <div class="col-md-4">&nbsp;</div>
                                    <div class="col-md-4">
                                        <div class="form-group-lg">
                                            @if (Model.Set.Games[index].HomeAwayScoreContested || Model.Set.Games[index].AwayAwayScoreContested)
                                            {
                                                <div class="has-warning has-feedback">
                                                    @if (Model.Set.IsHomeTeam)
                                                    {
                                                        <input class="form-control" asp-for="Set.Games[index].HomeAwayScore" />
                                                    }
                                                    else
                                                    {
                                                        <input class="form-control" asp-for="Set.Games[index].AwayAwayScore" />
                                                    }
                                                    <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            }
                                            else
                                            {
                                                @if (Model.Set.IsHomeTeam)
                                                {
                                                    <input class="form-control" asp-for="Set.Games[index].HomeAwayScore" />
                                                }
                                                else
                                                {
                                                    <input class="form-control" asp-for="Set.Games[index].AwayAwayScore" />
                                                }
                                            }
                                        </div>

                                    </div>
                                    <div class="col-md-4">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (Model.Set.IsHomeTeam)
                                        {
                                            if (Model.Set.Games[index].AwayAwayScore == null)
                                            {
                                                <h4><small><em>Opposition has not yet submitted a score for this game</em></small></h4>
                                            }
                                            else
                                            {
                                                <h4><small><em>Opposition submitted: @Model.Set.Games[index].AwayAwayScore</em></small></h4>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.Set.Games[index].HomeAwayScore == null)
                                            {
                                                <h4><small><em>Opposition has not yet submitted a score for this game</em></small></h4>
                                            }
                                            else
                                            {
                                                <h4><small><em>Opposition submitted: @Model.Set.Games[index].HomeAwayScore</em></small></h4>
                                            }
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-center">
            <button type="submit" name="btnBack" class="btn btn-lg" title="Back" value="Back">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
            </button>
            <button type="button" name="btnConfirmConcede" class="btn btn-lg btn-danger" title="Concede" @(Model.AllowConcedeGame ? "" : "disabled='disabled'") data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Concede
            </button>
            <button type="submit" name="btnSave" class="btn btn-lg btn-primary" title="Save" value="Save">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
            </button>
            <input type="hidden" asp-for="@Model.Set.IsHomeTeam" />
            <input type="hidden" asp-for="@Model.MatchId" />
            @*<input type="hidden" asp-for="@Model.Set.CategoryId" />
            <input type="hidden" asp-for="@Model.Set.SeasonId" />*@           
            <input type="hidden" asp-for="@Model.TeamId" />
            <input type="hidden" asp-for="@Model.Set.Id" />
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><strong>Concede Game Confirmation</strong></h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to concede this game? This action cannot be undone!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" name="btnConcede" class="btn btn-danger" title="Concede" value="Conncede">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Concede
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

