@model ProjectArcBlade.Models.MatchViewModels.MatchProgressViewModel
@{
    ViewData["Title"] = "Match Progress";
}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Team" asp-route-id="@Model.TeamId">Team Dashboard - @Model.TeamName</a></li>
            <li>Match Progress</li>
        </ol>
    </div>
</div>

<form asp-action="MatchProgress">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Match Progress</h1>
        </div>
        <div class="panel-body">
            @Html.Partial("SuccessAlertPartial")
            <table class="table table-hover table-condensed table-responsive">
                <thead class="lead text-center">
                    <tr>
                        <td></td>
                        <td colspan="3" class="active"><h3>Home Team<br /><small>@Model.Match.HomeTeamName</small></h3></td>
                        <td></td>
                        <td colspan="3" class="active"><h3>Away Team<br /><small>@Model.Match.AwayTeamName</small></h3></td>
                    </tr>
                    <tr>
                        <td><strong>Match #</strong></td>
                        <td class="active"><strong>Pair</strong></td>
                        <td class="active"><strong>Result</strong></td>
                        <td class="active"><strong>Score</strong></td>
                        <td></td>
                        <td class="active"><strong>Score</strong></td>
                        <td class="active"><strong>Result</strong></td>
                        <td class="active"><strong>Pair</strong></td>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach(var set in Model.Sets)
                    {
                        <tr class="lead text-center">
                            <td>@set.Number</td>
                            <td class="active">
                                @if (set.IsHomeTeam)
                                {
                                    <a asp-action="GameProgress" asp-controller="Match" asp-route-teamId="@Model.TeamId" asp-route-setId="@set.Id">@set.HomeGroup</a>
                                }
                                else
                                {
                                    @set.AwayGroup
                                }                                
                            </td>
                            <td class="active">@Html.Partial("DisplayResultTypeLabelPartial", set.HomeResult)</td>
                            <td class="active">@set.HomeScore</td>
                            <td><em>vs</em></td>
                            <td class="active">@set.AwayScore</td>
                            <td class="active">@Html.Partial("DisplayResultTypeLabelPartial", set.AwayResult)</td>
                            <td class="active">
                                @if (set.IsHomeTeam)
                                {
                                    @set.AwayGroup
                                }
                                else
                                {
                                    <a asp-action="GameProgress" asp-controller="Match" asp-route-teamId="@Model.TeamId" asp-route-setId="@set.Id">@set.HomeGroup</a>
                                }
                            </td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-center">
            <button type="submit" name="btnBack" class="btn btn-lg" title="Back" value="Back">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
            </button>
            @if (Model.AllowMatchCompletion)
            {
                <button type="submit" name="btnComplete" class="btn btn-lg btn-success" title="Complete" value="Complete">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Complete Match
                </button>
            }
            <input type="hidden" asp-for="@Model.MatchId" />
            <input type="hidden" asp-for="@Model.TeamId" />

        </div>
    </div>
</form>

