@model ProjectArcBlade.Models.MatchViewModels.MatchProgressViewModel
@{
    ViewData["Title"] = "Match Progress";
}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Team" asp-route-id="@Model.TeamId">Team Dashboard - @Model.TeamName</a></li>
            <li>Match Progress</li>
        </ol>
    </div>
</div>
<h1>Match Progress</h1>

<form asp-action="MatchProgress">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr style="background-color:lightgray">
                        <td>
                            <div class="col-md-offset-1 col-md-4 text-right">
                                <h3 class="form-control-static"><strong>@Model.HomeTeamName</strong></h3>
                                <h3 class="form-control-static"><strong>Home</strong></h3>                                
                            </div>
                            <div class="col-md-2 text-center">
                                <p>&nbsp;</p>
                                <h3 class="form-control-static"><strong>vs</strong></h3>
                            </div>
                            <div class="col-md-4 text-left">
                                <h3 class="form-control-static"><strong>@Model.AwayTeamName</strong></h3>
                                <h3 class="form-control-static"><strong>Away</strong></h3>                                
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @for(var index = 0; index < Model.SetTotal; index++)
                    {
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input type="hidden" asp-for="@Model.SetId[index]" />

                                    <div class="col-md-offset-1 col-md-3 text-right">
                                        @if (Model.IsHomeTeam)
                                        {
                                            <a asp-action="GameProgress" asp-controller="Match" asp-route-teamId="@Model.TeamId" asp-route-setId="@Model.SetId[index]">
                                                <h4 class="form-control-static"><strong>@Model.HomeGroupName[index]</strong></h4>
                                            </a>
                                        }
                                        else
                                        {
                                            <h4 class="form-control-static"><strong>@Model.HomeGroupName[index]</strong></h4>
                                        }                                        
                                    </div>
                                    <div class="col-md-1">
                                        <h4 class="form-control-static">@Model.HomeScore[index]</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <h4 class="form-control-static"><strong>@Model.SetNumber[index]</strong></h4>
                                    </div>
                                    <div class="col-md-1">
                                        <h4 class="form-control-static">@Model.AwayScore[index]</h4>
                                    </div>
                                    <div class="col-md-2 text-left">
                                        @if (Model.IsHomeTeam)
                                        {
                                            <h4 class="form-control-static"><strong>@Model.AwayGroupName[index]</strong></h4>
                                        }
                                        else
                                        {
                                            <a asp-action="GameProgress" asp-controller="Match" asp-route-teamId="@Model.TeamId" asp-route-setId="@Model.SetId[index]">
                                                <h4 class="form-control-static"><strong>@Model.HomeGroupName[index]</strong></h4>
                                            </a>
                                        }

                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-center">
            <input type="submit" value="Complete Match" class="btn btn-lg btn-danger" />
            <input type="hidden" asp-for="@Model.MatchId" />
            <input type="hidden" asp-for="@Model.TeamId" />            
        </div>
    </div>
</form>

