@model ProjectArcBlade.Models.MatchViewModels.MatchProgressViewModel
@{
    ViewData["Title"] = "Match Progress";
}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Team" asp-route-id="@Model.TeamId">Team Dashboard - @Model.TeamName</a></li>
            <li>Match Progress</li>
        </ol>
    </div>
</div>

<form asp-action="MatchProgress">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Match Progress</h1>
        </div>
        <div class="panel-body">
            @Html.Partial("SuccessAlertPartial")
            <h2><strong>Home Team:</strong> @Model.HomeTeamName</h2>
            <hr />
            <h2><strong>Away Team:</strong> @Model.AwayTeamName</h2>
            <hr />
            <table class="table table-hover">
                <thead class="lead text-center">
                    <tr>
                        <td></td>
                        <td colspan="3" class="active"><strong>Home</strong></td>
                        <td></td>
                        <td colspan="3" class="active"><strong>Away</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Match #</strong></td>
                        <td class="active"><strong>Pair</strong></td>
                        <td class="active"><strong>Result</strong></td>
                        <td class="active"><strong>Score</strong></td>
                        <td></td>
                        <td class="active"><strong>Score</strong></td>
                        <td class="active"><strong>Result</strong></td>
                        <td class="active"><strong>Pair</strong></td>                        
                    </tr>
                </thead>
                <tbody>
                    @for(var index = 0; index < Model.SetTotal; index++)
                    {
                        <tr class="lead text-center">
                            <td>@Model.SetNumber[index]</td>
                            <td class="active">
                                @if (Model.IsHomeTeam)
                                {
                                    <a asp-action="GameProgress" asp-controller="Match" asp-route-teamId="@Model.TeamId" asp-route-setId="@Model.SetId[index]">@Model.HomeGroupName[index]</a>
                                }
                                else
                                {
                                    @Model.HomeGroupName[index]
                                }                                
                            </td>
                            <td class="active">@Html.Partial("DisplayResultTypeLabelPartial", Model.SetHomeResult[index])</td>
                            <td class="active">@Model.HomeScore[index]</td>
                            <td><em>vs</em></td>
                            <td class="active">@Model.AwayScore[index]</td>
                            <td class="active">@Html.Partial("DisplayResultTypeLabelPartial", Model.SetAwayResult[index])</td>
                            <td class="active">
                                @if (Model.IsHomeTeam)
                                {
                                    @Model.AwayGroupName[index]
                                }
                                else
                                {
                                    <a asp-action="GameProgress" asp-controller="Match" asp-route-teamId="@Model.TeamId" asp-route-setId="@Model.SetId[index]">@Model.HomeGroupName[index]</a>
                                }
                            </td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-center">
            <button type="submit" name="btnBack" class="btn btn-lg" title="Back" value="Back">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
            </button>
            @if (Model.AllowMatchCompletion)
            {
                <button type="submit" name="btnComplete" class="btn btn-lg btn-success" title="Complete" value="Complete">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Back
                </button>
            }
            <input type="hidden" asp-for="@Model.MatchId" />
            <input type="hidden" asp-for="@Model.TeamId" />
            <input type="hidden" asp-for="@Model.SetHomeResult" />
            <input type="hidden" asp-for="@Model.SetAwayResult" />
        </div>
    </div>
</form>

