@model ProjectArcBlade.Models.MatchViewModels.MatchSummaryViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Match Details</h2>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-responsive table-condensed text-center">
            <tr>
                <td></td>
                <td class="active" colspan="@(Model.Match.AwayGroups.Count())">
                    <strong>Away Team @Html.Partial("DisplayResultTypeLabelPartial", Model.Match.AggregatedAwayResult)</strong>
                    <br />@Model.Match.AwayTeamName
                </td>
            </tr>
            <tr>
                <td class="active">
                    <strong>Home Team @Html.Partial("DisplayResultTypeLabelPartial", Model.Match.AggregatedHomeResult)</strong>
                    <br />@Model.Match.HomeTeamName
                </td>
                @foreach (var awayGroup in Model.Match.AwayGroups)
                {
                    <td class="active">
                        <strong>@awayGroup.Name Pair</strong>
                        @foreach (var awayPlayer in awayGroup.Players)
                        {
                            <br />@awayPlayer.FullName
                        }
                    </td>
                }
                </tr>
                @foreach (var homeGroup in Model.Match.HomeGroups)
                {
                    <tr>
                        <td class="active">
                            <strong>@homeGroup.Name Pair</strong>
                            @foreach (var homePlayer in homeGroup.Players)
                            {
                                <br />@homePlayer.FullName
                            }
                        </td>
                        @foreach (var awayGroup in Model.Match.AwayGroups)
                        {
                            foreach (var set in Model.Match.Sets)
                            {
                                if (set.AwayGroup == awayGroup.Name && set.HomeGroup == homeGroup.Name)
                                {
                                    <td>
                                        @{ var i = 0;}
                                        @foreach (var game in set.Games)
                                        {
                                            <div class="row">
                                                <div class="col-md-3 text-left">
                                                    @if(i == 0)
                                                    {
                                                        <strong>@game.SetNumber@(".")</strong>
                                                    }
                                                </div>
                                                <div class="col-md-5">@game.HomeVsAwayGameScoreDisplay</div>
                                                <div class="col-md-4 text-right">
                                                    @if(i == set.MinimumGamesToWinSet)
                                                    {
                                                        @if(game.IsHomeTeam)
                                                        {
                                                            @Html.Partial("DisplayResultTypeLabelPartial", @set.AggregatedHomeResult)
                                                        }
                                                        else
                                                        {
                                                            @Html.Partial("DisplayResultTypeLabelPartial", @set.AggregatedAwayResult)
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            i++;
                                        }
                                    </td>
                                }
                            }
                        }
                    </tr>
                }
            </table>
    </div>
</div>
