@model ProjectArcBlade.Models.MatchViewModels.MatchProgressViewModel
@{
    ViewData["Title"] = "Match Progress";
}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Team" asp-route-id="@Model.TeamId">Team Dashboard - @Model.TeamName</a></li>
            <li>Match Progress</li>
        </ol>
    </div>
</div>

<form asp-action="MatchProgress">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Match Progress</h1>
        </div>
        <div class="panel-body">
            @Html.Partial("SuccessAlertPartial")
            <table class="table table-hover table-condensed table-responsive">
                <thead class="lead text-center">
                    <tr>
                        <td></td>
                        <td colspan="3" class="active"><h3>Home Team @Html.Partial("DisplayResultTypeLabelPartial", Model.Match.AggregatedHomeResult)<br /><small>@Model.Match.HomeTeamName</small></h3></td>
                        <td></td>
                        <td colspan="3" class="active"><h3>Away Team @Html.Partial("DisplayResultTypeLabelPartial", Model.Match.AggregatedAwayResult)<br /><small>@Model.Match.AwayTeamName</small></h3></td>
                    </tr>
                    <tr>
                        <td><strong>Match #</strong></td>
                        <td class="active"><strong>Pair</strong></td>
                        <td class="active"><strong>Result</strong></td>
                        <td class="active"><strong>Score</strong></td>
                        <td></td>
                        <td class="active"><strong>Score</strong></td>
                        <td class="active"><strong>Result</strong></td>
                        <td class="active"><strong>Pair</strong></td>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach(var set in Model.Match.Sets)
                    {
                        <tr class="lead text-center">
                            <td>@set.Number</td>
                            <td class="active">
                                @if (set.IsHomeTeam)
                                {
                                    <a asp-action="GameProgress" asp-controller="Match" asp-route-teamId="@Model.TeamId" asp-route-setId="@set.Id">@set.HomeGroup</a>
                                }
                                else
                                {
                                    @set.HomeGroup
                                }                                
                            </td>
                            <td class="active">@Html.Partial("DisplayResultTypeLabelPartial", set.AggregatedHomeResult)</td>
                            <td class="active">@set.AggregatedHomeScore</td>
                            <td><em>vs</em></td>
                            <td class="active">@set.AggregatedAwayScore</td>
                            <td class="active">@Html.Partial("DisplayResultTypeLabelPartial", set.AggregatedAwayResult)</td>
                            <td class="active">
                                @if (set.IsHomeTeam)
                                {
                                    @set.AwayGroup
                                }
                                else
                                {
                                    <a asp-action="GameProgress" asp-controller="Match" asp-route-teamId="@Model.TeamId" asp-route-setId="@set.Id">@set.AwayGroup</a>
                                }
                            </td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-center">
            <button type="submit" name="btnBack" class="btn btn-lg" title="Back" value="Back">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
            </button>
            <button type="button" name="btnConfirmConcede" class="btn btn-lg btn-danger" @(Model.AllowConcedeMatch ? "" : "disabled='disabled'") title="Concede" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Concede
            </button>
            <button type="submit" name="btnSummary" class="btn btn-lg btn-primary" title="Match Summary" value="Summary" @(Model.AllowMatchSummary ? "" : "disabled='disabled'")>
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Match Summary
            </button>
           
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><strong>Concede Match Confirmation</strong></h4>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to concede this match? This action cannot be undone!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" name="btnConcede" class="btn btn-danger" title="Concede" value="Concede" data-toggle="modal" data-target="#myPleaseWait">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Concede
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal End -->

            @Html.Partial("PleaseWaitModalPartial")
        </div>
    </div>

    <!-- Hidden Fields -->
    
    <input type="hidden" asp-for="@Model.MatchId" />
    <input type="hidden" asp-for="@Model.TeamId" />
    <input type="hidden" asp-for="@Model.Match.TeamId" />
    <input type="hidden" asp-for="@Model.Match.AwayTeamId" />
    <input type="hidden" asp-for="@Model.Match.HomeTeamId" />
    <input type="hidden" asp-for="@Model.Match.AwayTeamName" />
    <input type="hidden" asp-for="@Model.Match.AwayTeamName" />

    @for (var i = 0; i < Model.Match.Sets.Count(); i++)
    {
        <input type="hidden" asp-for="@Model.Match.Sets[i].HomeResult" />
                <input type="hidden" asp-for="@Model.Match.Sets[i].AwayResult" />
                <input type="hidden" asp-for="@Model.Match.Sets[i].Status" />

        for (var j = 0; j < Model.Match.Sets[i].Games.Count(); j++)
        {
            <input type="hidden" asp-for="@Model.Match.Sets[i].Games[j].AggregatedAwayResult" />
            <input type="hidden" asp-for="@Model.Match.Sets[i].Games[j].AggregatedHomeResult" />
            <input type="hidden" asp-for="@Model.Match.Sets[i].Games[j].AggregatedAwayScore" />
            <input type="hidden" asp-for="@Model.Match.Sets[i].Games[j].AggregatedHomeScore" />
        }
    }
    
    <!-- End hidden Feilds-->
</form>

