@model ProjectArcBlade.Models.MatchViewModels.PreviewMatchViewModel
@{
    ViewData["Title"] = "Preview";
}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Team" asp-route-id="@Model.Team.Id">Dashboard</a></li>
            <li>Preview Match</li>
        </ol>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="jumbotron text-center">
            <h1><strong>@Model.Match.HomeMatchTeam.Team.LeagueClub.Club.Name - @Model.Match.HomeMatchTeam.Team.Name</strong></h1>
            <br />
            <h1>vs</h1>
            <br />
            <h1><strong>@Model.Match.AwayMatchTeam.Team.LeagueClub.Club.Name - @Model.Match.AwayMatchTeam.Team.Name</strong></h1>
            <br />
            <h2>on <strong>@Convert.ToDateTime(Model.Match.StartDate).ToString("dddd, MMM d, yyyy")</strong> starting at <strong>@Convert.ToDateTime(Model.Match.StartTime).ToString("HH:mm")</strong></h2>
            <br />
            <h2>playing at <strong>@Model.Match.Venue.Name</strong> (@Model.Match.Venue.Postcode)</h2>
            <br />
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3><strong>Home Team Players</strong></h3>                           
                            <h4>@Model.Match.HomeMatchTeam.Team.LeagueClub.Club.Name - @Model.Match.HomeMatchTeam.Team.Name</h4>
                        </div>
                        <div class="panel-body">
                            @if (Model.Match.HomeMatchTeam.TeamStatus.Name == "Complete" || Model.Match.HomeMatchTeam.TeamStatus.Name == "Active")
                            {
                                <ul class="list-group text-left">
                                    @foreach (var player in Model.HomeTeamPlayers)
                                    {
                                        <li class="list-group-item">
                                            <span class="badge">@player.HomeMatchTeamGroup.Group.Name</span>
                                            @player.ClubPlayer.PlayerDetail.FirstName  @player.ClubPlayer.PlayerDetail.LastName
                                            @if(player.ClubPlayer.Id == Model.HomeTeamCaptainId) { <span class="label label-success">Captain</span>}
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <h5>Home Team Players have not been submitted as yet.</h5>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3><strong>Away Team Players</strong></h3>
                            <h4>@Model.Match.AwayMatchTeam.Team.LeagueClub.Club.Name - @Model.Match.AwayMatchTeam.Team.Name</h4>
                        </div>
                        <div class="panel-body">
                            @if (Model.Match.AwayMatchTeam.TeamStatus.Name == "Complete" || Model.Match.AwayMatchTeam.TeamStatus.Name == "Active")
                            {
                                <ul class="list-group text-left">
                                    @foreach (var player in Model.AwayTeamPlayers)
                                    {
                                        <li class="list-group-item">
                                            <span class="badge">@player.AwayMatchTeamGroup.Group.Name</span>
                                            @player.ClubPlayer.PlayerDetail.FirstName  @player.ClubPlayer.PlayerDetail.LastName
                                            @if(player.ClubPlayer.Id == Model.AwayTeamCaptainId){ <span class="label label-success">Captain</span>}
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <h5>Away Team Players have not submitted as yet.</h5>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Match.HomeMatchTeam.TeamStatus.Name == "Active" && Model.Match.AwayMatchTeam.TeamStatus.Name == "Active")
            {
                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        <form asp-action="StartMatch" >
                            <button type="submit" asp-action="StartMatch" asp-route-matchId="@Model.Match.Id" asp-route-teamId="@Model.Team.Id" class="btn btn-success btn-lg">
                                <span class="glyphicon glyphicon-play"></span> Start Match
                            </button>
                        </form>
                        
                                                
                    </div>
                </div>
            }            
        </div>
    </div>

</div>
