@model ProjectArcBlade.Models.MatchViewModels.GameProgressViewModel
@{
    ViewData["Title"] = "Game Progress";
}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Team" asp-route-id="@Model.TeamId">Team Dashboard - @Model.TeamName</a></li>
            <li><a asp-action="MatchProgress" asp-controller="Match" asp-route-matchId="@Model.MatchId" asp-route-teamId="@Model.TeamId">Match Progress</a></li>
            <li>Game Progress</li>
        </ol>
    </div>
</div>

<form asp-action="GameProgress">
    <div class="panel-heading">
        <h1>Game Progress</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Partial("SuccessAlertPartial")
            <table class="table table-condensed table-hover table-responsive text-center">
                <thead>
                    <tr class="lead">
                        <td></td>
                        <td class="active"><h3>Home Team<br /><small>@Model.HomeTeamName - @Model.HomeGroup Pair</small></h3></td>
                        <td></td>
                        <td class="active"><h3>Away Team<br /><small>@Model.AwayTeamName - @Model.AwayGroup Pair</small></h3></td>
                    </tr>
                    <tr class="lead">
                        <td><strong>Game #</strong></td>
                        <td class="active"><strong>Score</strong></td>
                        <td>&nbsp;</td>
                        <td class="active"><strong>Score</strong></td>
                    </tr>
                </thead>
                <tbody>
                    @for (var index = 0; index < Model.GameTotal; index++)
                    {
                        <tr class="lead text-center">
                            <td>
                                <div class="form-control-static">
                                    @Model.GameNumber[index]
                                </div>

                                <input type="hidden" asp-for="@Model.GameId[index]" />
                            </td>
                            <td class="active">
                                @if (Model.IsHomeTeam)
                                {
                                    @Model.HomeHomeSore[index]
                                }
                                else
                                {
                                    @Model.AwayHomeSore[index]
                                }
                            </td>
                            <td>&nbsp;</td>
                            <td class="active">
                                @if (Model.IsHomeTeam)
                                {
                                    @Model.HomeAwaySore[index]
                                }
                                else
                                {
                                    @Model.AwayAwaySore[index]
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-center">
            <button type="submit" name="btnBack" class="btn btn-lg" title="Back" value="Back">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
            </button>
            
            <input type="hidden" asp-for="@Model.IsHomeTeam" />
            <input type="hidden" asp-for="@Model.MatchId" />
            <input type="hidden" asp-for="@Model.CategoryId" />
            <input type="hidden" asp-for="@Model.SeasonId" />
            <input type="hidden" asp-for="@Model.TeamId" />
            <input type="hidden" asp-for="@Model.SetId" />
        </div>

    </div>
</form>

